.container-client {
  background-color: #f5fbfd;
  width: 100%;
  padding: 0 10rem;
  .client-text {
    margin: 2rem auto;
    p {
      color: grey;
    }
  }
  .client-item {
    margin: 2rem;
    text-align: center;
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 767px) {
  .container-client {
    background-color: #f5fbfd;
    width: 100%;
    padding: 0 2rem;
    .client-text {
      margin: 2rem auto;
      p {
        color: grey;
      }
    }
    .client-item {
      margin: 2rem;
      display: flex;
      justify-content: center;
      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
    }
  }
}
