.trip-planning-manage {
  width: inherit;
}
.trip-planning-manage .order-side {
  padding-inline: 1.5rem;
  margin-top: 9rem;
  width: 37vw;
  border-radius: 0 2rem 2rem 0;
  overflow-y: scroll;
  scrollbar-width: none;
}
.trip-planning-manage .order-side .service-info .title {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}
.trip-planning-manage .order-side .service-info div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}
.trip-planning-manage .order-side .service-info div h3 {
  font-size: 0.875rem;
}
.trip-planning-manage .order-side .list-trip {
  width: 100%;
  margin-bottom: 20rem;
}
.trip-planning-manage .order-side .list-trip .title-trip {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}
.trip-planning-manage .order-side .list-trip .title-trip h1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}
.trip-planning-manage .order-side .list-trip .title-trip .toggle-optimize {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.7rem;
}
.trip-planning-manage .order-side .list-trip .list-data {
  padding: 1rem 1.2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: #E6E6E6;
}
.trip-planning-manage .order-side .list-trip .list-data .driver {
  margin-bottom: 1rem;
  position: relative;
}
.trip-planning-manage .order-side .list-trip .list-data .driver .driver-select {
  border: 1px solid grey;
  width: fit-content;
  padding-inline: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  background-color: white;
  cursor: pointer;
}
.trip-planning-manage .order-side .list-trip .list-data .driver .driver-list {
  position: absolute;
  width: 22vw;
  left: 0;
  top: 1.6rem;
  z-index: 99999;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
.trip-planning-manage .order-side .list-trip .list-data .driver .driver-list .title {
  font-size: 1rem;
  font-weight: 700;
}
.trip-planning-manage .order-side .list-trip .list-data .driver .driver-list .driver-list-content {
  border: 1px solid black;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
}
.trip-planning-manage .order-side .list-trip .list-data .driver .driver-list .driver-list-content label {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trip-planning-manage .order-side .list-trip .list-data .driver .driver-list .driver-list-content label .driver-data .driver-id {
  margin: 0;
  font-size: 0.875rem;
}
.trip-planning-manage .order-side .list-trip .list-data .driver .driver-list .driver-list-content label .driver-data .driver-name {
  margin: 0;
  font-size: 0.875rem;
}
.trip-planning-manage .order-side .list-trip .list-data .driver .driver-list .driver-list-content input {
  display: none;
}
.trip-planning-manage .order-side .list-trip .list-data .list-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.trip-planning-manage .order-side .list-trip .list-data .list-bottom .location {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.trip-planning-manage .order-side .list-trip .list-data .list-bottom .location h4 {
  padding: 0.2rem 0.4rem;
  margin: 0;
  border-radius: 0.4rem;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: #6EB9E3;
}
.trip-planning-manage .order-side .list-trip .list-data .list-bottom .location h3 {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 700;
}
.trip-planning-manage .order-side .list-trip .list-data .list-bottom .trip {
  font-size: 0.75rem;
  margin: 0;
  width: 50%;
}
.trip-planning-manage .order-side .list-trip .list-data .list-bottom .trip span {
  font-weight: 700;
}
.trip-planning-manage .order-side .list-trip .list-data .list-bottom img {
  width: 7.5%;
  cursor: pointer;
  background-color: #F1F5FB;
  padding: 0.2rem;
}
.trip-planning-manage .order-side .additional-service {
  margin-bottom: 18rem;
}
.trip-planning-manage .order-side .additional-service h1 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.trip-planning-manage .order-side .additional-service .list-service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.3rem;
}
.trip-planning-manage .order-side .additional-service .list-service h3 {
  margin: 0;
  font-size: 0.875rem;
}
.trip-planning-manage .order-side .additional-service .list-service h3 span {
  color: green;
  font-weight: 600;
}
.trip-planning-manage .order-side .additional-service .list-service .price-service {
  margin: 0;
  font-weight: 700;
}
.trip-planning-manage .detail-trip-planning {
  background-color: white;
  position: absolute;
  height: 100vh;
  top: 0;
  z-index: -2;
  left: 0;
  width: inherit;
  border-radius: 0 2rem 2rem 0;
  padding: 2rem 2rem 1.5rem 8.5rem;
  transition: all 0.5s ease;
}
.trip-planning-manage .detail-trip-planning.show-detail {
  left: 29vw;
  transition: all 0.5s ease;
}
.trip-planning-manage .detail-trip-planning .detail-header {
  position: fixed;
  width: inherit;
  left: inherit;
  border-radius: 0 2rem 0 0;
  row-gap: 1rem;
  background-color: white;
  top: 0;
  z-index: 99;
  padding: 1.5rem 2rem 1.5rem 8.5rem;
}
.trip-planning-manage .detail-trip-planning .detail-header .trip-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.trip-planning-manage .detail-trip-planning .detail-header .trip-price .trip {
  text-align: center;
  grid-area: trip;
  font-size: 0.75rem;
  background-color: #E6E6E6;
  padding: 0.2rem 0.2rem;
  border-radius: 0.3rem;
}
.trip-planning-manage .detail-trip-planning .detail-header .trip-price .trip span {
  font-weight: 700;
}
.trip-planning-manage .detail-trip-planning .detail-header .trip-price .price {
  font-size: 1rem;
  font-weight: 600;
  grid-area: price;
}
.trip-planning-manage .detail-trip-planning .detail-header .optimize {
  background-color: #E6E6E6;
  padding: 0.8rem 0.6rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.trip-planning-manage .detail-trip-planning .detail-header .optimize h1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}
.trip-planning-manage .detail-trip-planning .detail-header .estimation-weights {
  display: flex;
}
.trip-planning-manage .detail-trip-planning .detail-header .estimation-weights .estimation {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.2rem 0.4rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
  color: #949494;
  background-color: #E6E6E6;
}
.trip-planning-manage .detail-trip-planning .detail-header .estimation-weights .weights {
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.2rem 0.4rem;
  margin-right: 2rem;
  border-radius: 0.3rem;
  color: #949494;
  background-color: #E6E6E6;
}
.trip-planning-manage .detail-trip-planning .detail-data {
  display: flex;
  gap: 0rem;
  margin-top: 5.5rem;
  justify-content: space-between;
}
.trip-planning-manage .detail-trip-planning .detail-data .detail-point {
  width: 8%;
}
.trip-planning-manage .detail-trip-planning .detail-data .detail-point .detail-index {
  position: relative;
  margin-top: 1.9rem;
  margin-bottom: 5rem;
}
.trip-planning-manage .detail-trip-planning .detail-data .detail-point .detail-index:nth-child(odd) h1 {
  background-color: #ffd000;
}
.trip-planning-manage .detail-trip-planning .detail-data .detail-point .detail-index h1 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
  padding: 0.1rem;
  color: #11567e;
  background-color: #63b6e6;
  z-index: 99;
}
.trip-planning-manage .detail-trip-planning .detail-data .detail-point .detail-index::before {
  content: " ";
  height: 270%;
  width: 1px;
  position: absolute;
  left: 50%;
  top: -290%;
  z-index: -1;
  border: 1px dashed #63b6e6;
}
.trip-planning-manage .detail-trip-planning .detail-data .detail-datas {
  width: 88%;
}
.trip-planning-manage .detail-trip-planning .detail-data .detail-datas .detail-data-trip {
  width: 100%;
}
.trip-planning-manage .detail-trip-planning .detail-data .detail-datas .detail-data-trip .trip-point {
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  padding: 0.6rem 1rem;
  margin-top: -0.2rem;
}
.trip-planning-manage .detail-trip-planning .detail-data .detail-datas .detail-data-trip .trip-point .trip-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trip-planning-manage .detail-trip-planning .detail-data .detail-datas .detail-data-trip .trip-point .trip-title .trip-name {
  font-size: 0.875rem;
  margin: 0;
}
.trip-planning-manage .detail-trip-planning .detail-data .detail-datas .detail-data-trip .trip-point .trip-title h3 {
  font-size: 0.75rem;
  margin: 0;
  color: #63b6e6;
}
.trip-planning-manage .detail-trip-planning .detail-data .detail-datas .detail-data-trip .trip-point .loc-name {
  font-size: 0.875rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.trip-planning-manage .detail-trip-planning .detail-data .detail-datas .detail-data-trip .trip-point .loc-address {
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.trip-planning-manage .detail-trip-planning .detail-data .detail-datas .detail-data-trip .trip-point:first-child .trip-title h3 {
  display: none;
}
.trip-planning-manage .detail-trip-planning .detail-footer {
  display: flex;
  position: fixed;
  width: inherit;
  left: inherit;
  bottom: 0;
  background-color: white;
  justify-content: space-between;
  padding: 1rem 2.5rem 1.5rem 8.5rem;
  border-radius: 0 0 2rem 0;
  gap: 1rem;
}
.trip-planning-manage .detail-trip-planning .detail-footer .back {
  width: 50%;
  height: 2.5rem;
  font-size: 0.875rem;
  background-color: #e0e0e0;
}
.trip-planning-manage .detail-trip-planning .detail-footer .back:hover {
  background-color: #c7c7c7;
}
.trip-planning-manage .detail-trip-planning .detail-footer .save {
  width: 50%;
  font-size: 0.875rem;
  color: white;
  background-color: #0086d3;
}

/*# sourceMappingURL=tripPlanningManage.css.map */
