.order-confirm-manage .order-side {
  padding-inline: 1.5rem;
  margin-top: 9rem;
  padding-top: 4rem;
  width: 37vw;
  height: 30rem;
  border-radius: 0 2rem 0 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  scrollbar-width: none;
}
.order-confirm-manage .order-side .order-info div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}
.order-confirm-manage .order-side .order-info div h3 {
  font-size: 0.875rem;
}
.order-confirm-manage .order-side .order-info .title-info {
  margin-bottom: 1rem;
}
.order-confirm-manage .order-side .order-info .title-info .title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}
.order-confirm-manage .order-side .order-info .title-info .estimation {
  display: flex;
  align-items: center;
  background-color: #E1EAF6 !important;
  color: #839ABC !important;
  gap: 0.5rem;
}
.order-confirm-manage .order-side .service-info .title {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.order-confirm-manage .order-side .service-info div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}
.order-confirm-manage .order-side .service-info div h3 {
  font-size: 0.875rem;
}
.order-confirm-manage .order-side .driver {
  margin-bottom: 9rem;
}
.order-confirm-manage .order-side .driver .title {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.order-confirm-manage .order-side .driver div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.order-confirm-manage .order-side .driver div .driver-on {
  width: 0.7rem;
  height: 0.7rem;
  background-color: #50B044;
  border-radius: 50%;
}
.order-confirm-manage .order-side .driver div .driver-img {
  width: 3.5rem;
}
.order-confirm-manage .order-side .driver div .driver-data {
  display: block;
}
.order-confirm-manage .order-side .driver div .driver-data .driver-name {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.order-confirm-manage .order-side .driver div .driver-data .driver-bike-number {
  margin: 0;
  font-size: 0.875rem;
}
.order-confirm-manage .order-side .driver > div {
  margin-bottom: 1.5rem;
}
.order-confirm-manage .detail-side {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 35vw;
  left: 0;
  position: absolute;
  padding: 1.5rem 2rem 1rem 3rem;
  border-radius: 0 2rem 0 0;
  transition: all 0.5s ease;
  z-index: -2;
  overflow-y: scroll;
  scrollbar-width: none;
}
.order-confirm-manage .detail-side.show-detail {
  left: 35vw;
  transition: all 0.5s ease;
}
.order-confirm-manage .detail-side .detail-header {
  display: grid;
  position: fixed;
  width: inherit;
  left: inherit;
  padding: 1.5rem 2rem 1rem 3rem;
  border-radius: 0 2rem 0 0;
  align-items: center;
  grid-template-areas: "trip trip none none price" "optimize optimize optimize optimize optimize" "estimation estimation estimation weights weights";
  row-gap: 1rem;
  background-color: white;
  padding-bottom: 1rem;
  top: 0;
  z-index: 99;
}
.order-confirm-manage .detail-side .detail-header .trip {
  text-align: center;
  grid-area: trip;
  font-size: 0.75rem;
  background-color: #e4f6ff;
  padding: 0.2rem 0.2rem;
  border-radius: 0.3rem;
}
.order-confirm-manage .detail-side .detail-header .trip span {
  font-weight: 700;
}
.order-confirm-manage .detail-side .detail-header .price {
  font-size: 1rem;
  font-weight: 600;
  grid-area: price;
}
.order-confirm-manage .detail-side .detail-header .optimize {
  grid-area: optimize;
  background-color: #e4f6ff;
  padding: 0.8rem 0.6rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.order-confirm-manage .detail-side .detail-header .optimize h1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}
.order-confirm-manage .detail-side .detail-header .estimation {
  grid-area: estimation;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.2rem 0.4rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
  color: #949494;
  background-color: #e4f6ff;
}
.order-confirm-manage .detail-side .detail-header .weights {
  grid-area: weights;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.2rem 0.4rem;
  margin-right: 2rem;
  border-radius: 0.3rem;
  color: #949494;
  background-color: #e4f6ff;
}
.order-confirm-manage .detail-side .detail-data {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  margin-top: 9rem;
}
.order-confirm-manage .detail-side .detail-data .detail-point {
  width: 13%;
}
.order-confirm-manage .detail-side .detail-data .detail-point .detail-index {
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 5.7rem;
}
.order-confirm-manage .detail-side .detail-data .detail-point .detail-index h1 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
  padding: 0.3rem;
  color: #11567e;
  background-color: #63b6e6;
  z-index: 99;
}
.order-confirm-manage .detail-side .detail-data .detail-point .detail-index::before {
  content: " ";
  height: 210%;
  width: 1px;
  position: absolute;
  left: 50%;
  top: -225%;
  z-index: -1;
  border: 1px dashed #63b6e6;
}
.order-confirm-manage .detail-side .detail-data .detail-datas {
  width: 88%;
}
.order-confirm-manage .detail-side .detail-data .detail-datas .detail-data-trip {
  width: 100%;
}
.order-confirm-manage .detail-side .detail-data .detail-datas .detail-data-trip .trip-point {
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
  padding: 1rem;
}
.order-confirm-manage .detail-side .detail-data .detail-datas .detail-data-trip .trip-point .trip-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-confirm-manage .detail-side .detail-data .detail-datas .detail-data-trip .trip-point .trip-title .trip-name {
  font-size: 1rem;
  margin: 0;
}
.order-confirm-manage .detail-side .detail-data .detail-datas .detail-data-trip .trip-point .trip-title h3 {
  font-size: 0.875rem;
  margin: 0;
  color: #63b6e6;
}
.order-confirm-manage .detail-side .detail-data .detail-datas .detail-data-trip .trip-point .loc-name {
  font-size: 1rem;
  font-weight: 700;
}
.order-confirm-manage .detail-side .detail-data .detail-datas .detail-data-trip .trip-point .loc-address {
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.order-confirm-manage .detail-side .detail-data .detail-datas .detail-data-trip .trip-point:first-child .trip-title h3 {
  display: none;
}
.order-confirm-manage .detail-side .detail-footer {
  display: flex;
  position: fixed;
  width: inherit;
  left: inherit;
  bottom: 0;
  background-color: white;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 3rem;
  gap: 1rem;
}
.order-confirm-manage .detail-side .detail-footer .back {
  width: 50%;
  height: 2.5rem;
  font-size: 0.875rem;
  background-color: #e0e0e0;
}
.order-confirm-manage .detail-side .detail-footer .back:hover {
  background-color: #c7c7c7;
}
.order-confirm-manage .detail-side .detail-footer .save {
  width: 50%;
  font-size: 0.875rem;
}

/*# sourceMappingURL=orderConfirmManage.css.map */
