.driver-page {
  .hero-container-driver {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #f8fafc;
    .row-hero {
      height: 100vh;
    }
    .hero-text {
      margin: 0 0 0 0;
      padding: 10rem 0 0 100px;
      .hero_title {
        font-weight: 900;
        font-size: 3.5rem;
      }
      .hero-paragraf {
        color: #1f83bb;
      }
      .btn-start-delevery {
        color: #f1f5fb;
        background-color: #1f83bb;
        width: fit-content;
        height: 50px;
        padding-inline: 2rem;
        margin-right: 1rem;
        border-style: none;
        align-items: center;
        justify-content: center;
        border-radius: 0.8rem;
        font-weight: 700;
      }
      .btn-start-delevery:hover {
        background-color: cornflowerblue;
      }
    }
    .hero-img-container {
      height: 100%;
      .hero-img {
        height: 40rem;
        width: auto;
        margin-top: 3rem;
        margin-left: 3rem;
      }
    }
  }
  .driver-features {
    width: 100%;
    height: 35rem;
    background-color: #f8fafc;
    background-image: url("../../assets/img/img-ornament-ice-right.png");
    background-repeat: no-repeat;
    background-position-x: right;
    padding: 5rem 5.52rem 8rem 5.52rem ;
    .feature-text {
      color: grey;
    }
    .feature__item {
      width: 17.188rem;
      height: 8.75rem;
      border-radius: 10px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 2rem;
      img {
        height: 3.5rem;
        width: auto;
      }
      p{
          color: #357296;
      }
    }
    .feature__item:hover {
      box-shadow: 5px 5px 13px #d5d5d5, -5px 5px 13px #d5d5d5;
      background-color: white;
    }
  }
  .driver-guide {
    width: 100%;
    background-color: #f5fcfe;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-block: 3rem;
    .column-img {
      .guide-img {
        width: 220%;
        position: relative;
        left: -11rem;
      }
    }
    .guide-text {
      .guide-title {
        font-weight: 700;
      }
      .guide-paragraf {
        color: #9eb2cb;
      }
      .guide-list-desc {
        color: #9eb2cb;
      }
    }
  }
  .driver-story {
    width: 100%;
    height: 40rem;
    background-color: #f5fcfe;
    background-image: url("../../assets/img/img-ornament-ice-right.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
    align-items: center;
    padding: 4rem 0rem 4rem 0rem;
    .service-content {
      color: black;
    }
    .service-img {
      align-items: center;
      justify-content: center;
      width: 100%;
    
      .service-item {
        width: 20rem;
        background-color: white;
        justify-content: space-evenly;
        align-items: center;
        padding: 1.75rem;
        border-radius: 10px;
        box-sizing: border-box;
        text-align: center;
        box-shadow: 5px 5px 13px #d5d5d5, -5px 5px 13px #d5d5d5;
        &>div {
          text-align: center;
        }
        img {
          height: 5rem;
          width: auto;
          border-radius: 50%;
          margin-bottom: 1rem;
        }
        p {
          text-align: start;
          color: #467c9a;
        }
    
        .service-title {
          text-align: center;
          color: #061738;
          font-weight: 700;
          margin-bottom: 4px;
        }
        .service-desc {
          text-align: center;
          color: #839abc;
          font-weight: 500;
          height: fit-content;
          margin-bottom: 0;
        }
      }
    }
  }
  .container-partner {
    background-color: #f8fafc;
    .card-img {
      width: 40%;
      margin-left: 2rem;
      margin-top: 1.5rem;
    }
    a {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .driver-page {
    width: 100vw;
    height: 100vh;
    .hero-container-driver {
      margin-top: 6rem;
      margin-bottom: 2rem;
      width: 100%;
      .hero-text {
        padding: 0;
        width: 100%;
        .hero_content {
          width: 100%;
          .hero-content-img {
            width: 100%;
            .hero-img {
              width: 100%;
            }
          }
          .hero_title {
            font-size: 48px;
            padding-inline: 16px;
          }
          .hero-paragraf {
            padding-inline: 16px;
          }
          .btn-start-delevery {
            font-size: 0.875rem;
            margin-inline: 16px;
          }
        }
      }
      
    }
    .driver-features {
      width: 100%;
      height: 50rem;
      background-image: none;
      padding: 0;
      margin-bottom: 0;
      padding-block: 2.5rem;
      .feature-text {
        color: grey;
      }
      .features-content {
        row-gap: 2rem;
        padding-inline: 16px;
        .feature__item {
          width: 100%;
          height: 10rem;
        }
      }
    }
    .driver-guide {
      margin-top: -10rem;
      .column-img {
        width: 100vw;
        .guide-img {
          width: 200%;
        }
      }
      .guide-text {
        .guide-content {
          .guide-title {
            text-align: center;
          }
        }
      }
    }
    .driver-story {
      height: fit-content;
    }
    .container-partner {
      background-color: #f8fafc;
      .card-img {
        margin-bottom: 3rem;
      }
    }
  }
}
